name: Deploy nodejs application to aws

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Deploy via ssh
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.SSH_HOST }}
                username: root
                key: ${{ secrets.SSH_KEY }}
                script: |
                    cd /home/ubuntu/nodejs-application-deploy-github-action
                    git pull
                    docker compose up -d --build